
.rectangle-14 {
  background-color: #6b6b6b;
  border-radius: 27px;
  height: 55px;
  left: 1182px;
  position: absolute;
  top: 58px;
  width: 200px;
}

.profile {
  height: 55px;
  left: 1145px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 55px;
}

.text-wrapper-profielName {
  color: #ffffff;
  font-family: "Inter-Thin", Helvetica;
  font-size: 16px;
  font-weight: 100;
  left: 1200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 75px;
  white-space: nowrap;
  width: 128px;
}

