.nameText {
    color: "#FFF";
    font-Size: 18;
    font-Weight: 100;
    margin-Left: 10;
    margin-Right: 15;
}

.profilebg {
    background-Color: "#FFF";
    margin-Left: 0;
    border-Radius: 50;
}

.profilebg1 {
    background-color: #878787; /* เปลี่ยนสีพื้นหลังเทาที่นี่ */
    margin-right: 50px;
    transform: scale(1.5);
  }